<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/friends.css">
    <title>Objectifs d'amis</title>
</head>
<body>
    <div id="friends_goals">
        <table>
            <thead>
                <th>Partenariat dans les objectifs de tes amis</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="change_table">
        <p id="change_label"> Voir tes objectifs</p>
        <input type="button" id="change_button" value="o">
    </div>
    <div id="conversation">
        <header>
            <h1>Conversation</h1>
            <b><i>Sujet: </i></b><span id="subject"></span>  
            <span id="author_or_partner"><b><i>Auteur: </i></b><span id="author"></span></span>  
            <b><i>Echéance: </i></b><span id="date_end"></span>
        </header>
        <div id="chat">

        </div>
        <div id="write">
            <input type="text" id="type_message" placeholder="Ecrire un message">
            <input type="button" id="submit_button">
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
                fetch('http://localhost:3000/list/goals_where_partner')
                .then(response => response.json())
                .then(data => loadTablePartner(data['data']));
            });

        var line = document.getElementsByClassName("title_goal");
        var lineMyGoal = document.getElementsByClassName("title_my_goal");
        var changeLabel = document.getElementById("change_label");
        var changeBtn = document.getElementById("change_button");
        var titleTable = document.querySelector("#friends_goals table th");
        

        changeBtn.addEventListener("click", function () {
            switch(changeBtn.value) {
                case "o":
                    titleTable.innerHTML= "Tes objectifs";
                    changeLabel.innerHTML="Voir tes partenariats";
                    fetch('http://localhost:3000/list/goals_non_accomplished')
                        .then(response => response.json())
                        .then(data => loadTableNonAccomplished(data['data']));
                    changeBtn.value="n";
                    break;
                default:
                    titleTable.innerHTML= "Partenariat dans les objectifs de tes amis";
                    changeLabel.innerHTML="Voir tes objectifs";
                    fetch('http://localhost:3000/list/goals_where_partner')
                        .then(response => response.json())
                        .then(data => loadTablePartner(data['data']));
                    changeBtn.value="o";
            }
        });
            
        
        function loadTableNonAccomplished(data) {
                const dataTable = document.querySelector("#friends_goals table tbody");
                if (data.length === 0) {
                    dataTable.innerHTML = "<tr><td class='no-data'>Pas d'objectif en cours</td></tr>";
                    return;
                }
                
                let tableHtml = "";

                data.forEach(function ({id_goal, name_user,email_user,goal,date_goal}) {
                    tableHtml += "<tr>";
                    tableHtml += `<td>
                                    <p class="title_my_goal" data-author="${name_user}" data-email-user="${email_user}" data-id="${id_goal}" data-goal="${goal}" data-date="${date_goal}">
                                        ${goal}
                                    </p>
                                </td>`;
                    tableHtml += "</tr>";
                });

                dataTable.innerHTML = tableHtml;

                for(let i=0; i<lineMyGoal.length; i++) {
                
                lineMyGoal[i].addEventListener('click', function() {
                    let value=lineMyGoal[i].dataset.id;
                    infosConversationAsAnAuthor(value);
                });
                
                
            }
            }

        function loadTablePartner(data) {
            const table = document.querySelector('#friends_goals table tbody');

            if (data.length === 0) {
                table.innerHTML = "<tr><td class='no-data'>Pas de partenariat en cours</td></tr>";
                return;
            }
            
            let tableHtml = "";

            data.forEach(function ({id_goal, name_user,email_user,goal,date_goal}) {
                tableHtml += "<tr>";
                tableHtml += `<td>
                                    <p class="title_goal" data-author="${name_user}" data-email-user="${email_user}" data-id="${id_goal}" data-goal="${goal}" data-date="${date_goal}">
                                        ${goal}
                                    </p>
                             </td>`;
                tableHtml += "</tr>";
            });

            table.innerHTML = tableHtml;
           
            for(let i=0; i<line.length; i++) {
                
                line[i].addEventListener('click', function() {
                    let value=line[i].dataset.id;
                    infosConversationAsAPartner(value);
                });
                
                
            }

            
        }

        function infosConversationAsAPartner(id) {
            fetch('http://localhost:3000/goals/'+id, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                var subject = document.getElementById("subject");
                var author = document.getElementById("author");
                var date = document.getElementById("date_end");
                
                subject.innerHTML=data.success[0].goal;
                author.innerHTML=data.success[0].name_user +" ("+data.success[0].email_user+")";
                date.innerHTML=new Date(data.success[0].date_goal).toLocaleDateString();
            }
            });
        }

        function infosConversationAsAnAuthor(id) {
            fetch('http://localhost:3000/goals/'+id, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                var subject = document.getElementById("subject");
                var partner = document.getElementById("author_or_partner");
                var date = document.getElementById("date_end");
                subject.innerHTML=data.success[0].goal;
                partner.innerHTML="<b><i>Partenaire: </i></b><span id=\"partner\">"+data.success[0].partner +" ("+data.success[0].email_partner+")</span>";
                date.innerHTML=new Date(data.success[0].date_goal).toLocaleDateString();
            }
            });
        }



    </script>

</body>

</html>